In [2]:
#import libraries
import pandas as pd

In [3]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [65]:
#what is the total sum of wine produced in 2015 and 2018 respectively
groupby_item = df.groupby(['Item']).sum()
get_wine = groupby_item.loc['Wine']
print("Total sum of wine produced in 2015:", get_wine[4])
print("Total sum of wine produced in 2018:", get_wine[7])

Total sum of wine produced in 2015: 4251.81
Total sum of wine produced in 2018: 4039.32

C:\Users\Dell\AppData\Local\Temp\ipykernel_14896\2702667400.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupby_item = df.groupby(['Item']).sum()

In [66]:
#Perform a groupby on 'Element', what is the total number of the sum of processing in 2017
group_element = df.groupby(['Element']).sum()
get_processing = group_element.loc['Processing']
print("Total sum of processing in 2017:", get_processing[6])

Total sum of processing in 2017: 292836.0

C:\Users\Dell\AppData\Local\Temp\ipykernel_14896\1134399084.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_element = df.groupby(['Element']).sum()

In [77]:
#what is the total protein supply quantity in madagascar in 2015
df1 = df[['Element','Area', 'Y2015']]
madagascar_protein_supply = df1[(df1['Area'] == 'Madagascar') & (df1['Element'] == 'Protein supply quantity (g/capita/day)')]
protein_supply_2015 = madagascar_protein_supply['Y2015'].sum()
print("The total protain supply in madagascar in 2015: {:.2f}%".format (protein_supply_2015))

The total protain supply in madagascar in 2015: 173.05%

In [76]:
#what is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places 
df_description = df['Y2017'].describe()
print("The mean of the dataset for 2017: {:.2f}%".format(df_description[1]))
print("The standard deviation of the dataset for 2017: {:.2f}%".format(df_description[2]))

The mean of the dataset for 2017: 140.92%
The standard deviation of the dataset for 2017: 1671.86%

In [80]:
#perform a groupby on 'element'. what year has the highest sum of stock variation
element_grouped = df.groupby('Element').sum()
stock_variations = element_grouped.loc['Stock Variation']
print("Year with the highest sum of stock variation:", stock_variations.index[3])

Year with the highest sum of stock variation: Y2014

C:\Users\Dell\AppData\Local\Temp\ipykernel_14896\3863045862.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  element_grouped = df.groupby('Element').sum()

In [47]:
#Select columns 'Y2017' and 'area' and perform a groupby operation on 'Area'. which of these area had the 7th lowest sum in 2017
#df.groupby(['Area'])['Y2017'].sum()

df_selected = df[['Y2017', 'Area']]
grouped_data = df_selected.groupby('Area').sum()
sorted_sums = grouped_data.sort_values(by='Y2017')
seventh_lowest_area = sorted_sums.index[6]
print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [46]:
#what is the total number and percentage of missing data in 2014 to 3 decimal places
missing_values = df['Y2014'].isnull().sum()
print("Total number of missing data in year 2014:", missing_values)
total_values= df['Y2014'].shape[0]
percentage_missing = (missing_values/total_values)* 100
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing))

Total number of missing data in year 2014: 1589
Percentage of missing data in 2014: 2.607%

In [52]:
#select columns 'Y2017' and 'area'. perform a groupby operation on area. which of the area had the highest sum in 2017
selected_columns = df[['Y2017', 'Area']]
groupby_area = selected_columns.groupby('Area').sum()
highest_sum = groupby_area.sort_values(by='Y2017', ascending=False)
print("The area with the largest sum in 2017:", highest_sum.index[0])

The area with the largest sum in 2017: Nigeria

In [54]:
#what is the total number of unique countries in the dataset
print ("The total number of unique countries:", df['Area'].nunique())

The total number of unique countries: 49

In [89]:
#which year had the least correlation with 'element code'
year_columns = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
year_columns.append('Element Code')
correlations = df[year_columns].corr()['Element Code']
print("The year that had the least coorelation with element code:",correlations.idxmin())

The year that had the least coorelation with element code: Y2016